body {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) 100%), url(/img/492snake_100855.png);
	background-size: 200px;
}
.container {
	margin: 0 auto;
	width: 90%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.fa-snake {
	height: 15px;
	width: 15px;
	color: black;
}

#snake {
	border: black solid 1px;
}
